doctype html
html(lang="uk")
  head
    title Опендатабот
    link(rel="stylesheet", href="/css/theme.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Опендатабот — сервіс моніторингу реєстраційних даних українських компаній та судового реєстру для захисту від рейдерських захоплень і контролю контрагентів.")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL",
      crossorigin="anonymous"
    )
    script(
      src="https://kit.fontawesome.com/5df4f01409.js",
      crossorigin="anonymous"
    )

    script
      include ../js/theme.js
      include ../js/local-storage.js

  body.bg-body-tertiary
    block content
