header
  nav.navbar.navbar-light.navbar-expand
    .container-fluid.d-block.px-0
      .d-flex.align-items-top.p-2
        a.navbar-brand.odb-navbar-brand(href="/", style="padding-top: 0.125rem")
          img.odb-img-themed(
            src="/img/odb-logo-themed.webp",
            alt="Опендатабот",
            height="32",
            width="166"
          )
        form.odb-search-by-code.mx-auto.d-print-none(action="/")
          .odb-navbar-search.input-group
            input.odb-search.form-control.ps-3(
              name="odb-search",
              type="search",
              list="suggestions",
              placeholder="Код компанії, ІПН або код земельної ділянки",
              aria-label="Пошук",
              size="32",
              value=""
              data-odb-code=data.code
              data-odb-description=data.companyName
            )
            datalist#suggestions

            button.btn.px-md-3.btn-primary(title="Пошук", type="submit")
              i.far.fa-search
          .collapse#helpLink
            a.btn.btn-link(href='/help')
              | Як пошук працює? 

        .p-1
        
        a.btn.btn-link.d-print-none.text-nowrap.ms-auto(
          href="/logout",
          aria-label="logout",
          rel="nofollow"
        )
          i.far.fa-arrow-right-from-bracket
          span.d-none.d-md-inline.ms-2 Вийти