header.d-print-none
  nav.navbar.navbar-light.navbar-expand
    .container-fluid.d-block.px-0
      .d-flex.align-items-center.px-3.py-2
        a.navbar-brand.d-print-inline-block.odb-navbar-brand(href="/")
          img.odb-img-themed(
            src="/img/odb-logo-themed.webp",
            alt="Опендатабот",
            height="32",
            width="166"
          )
        form.odb-search-by-code.d-flex.mx-auto.d-print-none(action="/")
          .odb-navbar-search.input-group
            input.odb-search.form-control.ps-3(
              name="odb-search",
              type="search",
              list="suggestions",
              placeholder="Код компанії, ІПН або код земельної ділянки",
              aria-label="Пошук",
              size="32",
              value=""
              odb-code=data.edrpou
              odb-description=data.companyName
            )
            datalist#suggestions

            button.btn.px-md-3.btn-primary(title="Пошук", type="submit")
              i.far.fa-search
        .p-1
        a.btn.btn-link.ms-auto.d-print-none(
          href="/logout",
          aria-label="logout",
          rel="nofollow"
        )
          i.far.fa-arrow-right-from-bracket
